<h2>{{root}}</h2>
{% if "views" in root and "taxonomies" in root %}
    <p>In de views directory staan 'leesbare' html bestanden die inzicht bieden in
        de dimensionele- en presentatie-hierarchie. Deze bestanden zijn gebaseerd op
        de verschillende entrypoints die in de
        <a href="https://www.xbrl.org/Specification/taxonomy-package/REC-2016-04-19/taxonomy-package-REC-2016-04-19.html#taxonomy-package" title="Specificatie taxono-package">taxonomy-packages</a> zijn gedefinieerd.
    </p>
{% elif "views" in root %}
    <p>In de views directory staan iXBRL rapporten met een iXBRL-viewer.
        Daarmee kan inzicht worden verkregen in het rapport en welke informatie er in de XBRL staat</p>
{% elif "taxonomies" in root %}
    <p>De zip-bestanden zijn <a href="https://www.xbrl.org/Specification/taxonomy-package/REC-2016-04-19/taxonomy-package-REC-2016-04-19.html#taxonomy-package" title="Specificatie taxono-package">taxonomy-packages</a>
        die met xbrl software, zoals <a href="https://arelle.org/" title="Arelle, open source XBRL software">Arelle</a>,
        ingelezen kunnen worden.</p>
{% else %}
    <p>De zip-bestanden zijn Report-packages. De reportpackages zijn voorbeelden voor de diverse taxonomieen/entrypoints</p>
{% endif %}

<ul>
    {% for file in files -%}
        <li><a href="{{root}}/{{file}}">{{root}}/{{file}}</a></li>
    {% endfor %}
</ul>


