<!DOCTYPE html>
<html lang="en">
<head>
    <title>SBR-NL Taxonomy-packages en voorbeeld instances</title>
    <meta name="generation_date" content="{{today}}">
    <meta name="keywords" content="XBRL, Taxonomy, iXBRL, SBR, SBR-NL, Instance, Report, iXBRL Instance">
    <link rel="stylesheet" href="base.css">
</head>
<body>

<div class="head">
    <!-- a href="https://www.logius.nl/" class="logo">
        <img id="Logius" alt="Logius" src="https://publicatie.centrumvoorstandaarden.nl/respec/style/logos/figure-logius.svg" width="50">
    </a -->
    <h1>SBR-NL Taxonomy-packages en voorbeeld instances</h1>
</div>
<div id="GOOD">
    @@@
</div>

</body>
</html>
