name: iXBRL-examples build

on:
  workflow_dispatch:
    inputs:
      branch:
        description: branch name to deploy to (_this_ repo) defaults to 'reports'
        default: reports
        required: true
      repository:
        description: repository name which triggered this event (taxonomy default 'xiffy/kvk-ixbrl-voorbeelden')
        required: true
        default: xiffy/kvk-ixbrl-voorbeelden
      message:
        description: Message to use when we commit taxonomy packages to this repository.
        required: false
        default: "Manually started workflow."

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout self
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch }}
      - name: configure Git
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: Display Job information
        run: |
          echo ${{ github.actor }} Started an integration run.
          echo They pushed to ${{ github.event.inputs.repository }}
          echo ${{ github.event.inputs.branch }}
          echo "the message is: ${{ github.event.inputs.message }}"
          echo run-id: ${{ github.event.inputs.run_id }}

      - name: Install Arelle
        run: |
          pip install arelle-release
          pip install ixbrl-viewer
      - name: Install zip
        run: |
          sudo apt-get install zip
      - name: Download iXBRL examples repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.event.inputs.repository }}
          path: _vb
          ref: ${{ github.event.inputs.branch }}
      - name: create example dir
        run: |
          mkdir -p public/voorbeelden/${{ github.event.inputs.branch }}/views

      - name: Remove old report packages
        run: |
          rm public/voorbeelden/${{ github.event.inputs.branch }}/*zip 2>/dev/null
        continue-on-error: true

      - name: Build report-packages
        run: |
          cd _vb
          for dir in */
          do
            dir=${dir%*/}      # remove the trailing "/"
            echo "  - ${dir}.zip"
            zip -rq ../public/voorbeelden/${{ github.event.inputs.branch }}/"${dir}" "${dir}"
          done
          echo ""
          cd ..
          # ls -l public/voorbeelden/${{ github.event.inputs.branch }}/
        continue-on-error: true

      - id: packagelist
        name: Create packagelist
        run: |
          PACKAGE_LIST=`python scripts/find_packages.py public/taxonomies/${{ github.event.inputs.branch }}`
          echo package_list=$PACKAGE_LIST >> $GITHUB_ENV

      - name: Test Report-packages, create views with ixbrl-viewer
        run: |
          for report in public/voorbeelden/${{ github.event.inputs.branch }}/*zip
          do
            # echo "${report}"
            if [ -s arelle.log ]; then
               rm arelle.log 
            fi
            arelleCmdLine --packages "${{ env.package_list }}"  --validate --file "${report}" --logLevelFilter=!.*message --logLevel=warning --logFile=arelle.log
            if [ -s arelle.log ]; then
              echo "Houston we have a problem."
              echo "not publishin report-package."
              rm "${report}"
            else
              zipname=$(basename "${report}")
              file=$(basename "${report}" .zip)
              echo "Looks good! 'publishing' ${zipname}"
              echo "Creating iXBRL inline view"
              if [ -s public/voorbeelden/${{ github.event.inputs.branch }}/views/"${file}"_viewer.html ]; then
                rm public/voorbeelden/${{ github.event.inputs.branch }}/views/"${file}"_viewer.html 2>/dev/null
              fi              
              arelleCmdLine --packages "${{ env.package_list }}" \
                            --file "${report}" \
                            --plugins iXBRLViewerPlugin \
                            --save-viewer public/voorbeelden/${{ github.event.inputs.branch }}/views/"${file}"_viewer.html \
                            --viewer-url https://github.com/Arelle/ixbrl-viewer/releases/download/1.4.22/ixbrlviewer.js
              if [ -s public/voorbeelden/${{ github.event.inputs.branch }}/views/"${file}"_viewer.html ]; then
                echo "Created inline view for ${file}"
              else
                echo "No inline view created"
              fi
            fi
          done
          # ls -l public/voorbeelden/${{ github.event.inputs.branch }}/
          # ls -l public/voorbeelden/${{ github.event.inputs.branch }}/views/

      - name: Create html-index
        run: |
          python scripts/html_index.py > public/index.html
          cat public/index.html

      - name: Commit files
        run: |
            git add public/voorbeelden/${{ github.event.inputs.branch }}/
            git commit -a -m "${{ github.event.inputs.message }}" \
            -m "" -m "Add changes to examples and viewers: ${{ github.event.inputs.repository }}"

      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.PAT }}
          branch: ${{ github.ref }}

      - name: Ping Deployment
        run: |
          echo "And now you should ping the deployment of the website"
